* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: auto;
}

/* ******MOBILE SCREEN******** */
@media (max-width: 375px) {
  .container {
    width: 375px;
  }
}

/* ******SMALL SCREEN******** */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* ******MEDIUM SCREEN******** */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* ******LARGE SCREEN******** */
@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
